/* * {
    font-family: 'League Spartan', sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Libre+Baskerville&display=swap');

body {
    background-color: #5F85DB;
}

h1 {
    font-family: 'League Spartan', sans-serif;
}

a {
    font-family: 'League Spartan', sans-serif;
}

p {
    font-family: 'Libre Baskerville', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #90B8F8;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: #5F85DB;
}

/* Sección Home */
.banner {
    background-image: url("../media/banner.png");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.texto {
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26282B;
}

.texto p {
    font-size: 20px;
}

.textoCv  {
    font-size: 20px;
}

.perfil {
    position: absolute;
}

/* Sección Sobre */
.textoSobre {
    position: relative;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26282B;
    font-weight: bold;
}

.textoSobre p {
    font-size: 20px;
}

.box {
    color: #26282B;
    font-weight: bold;
}

/* Sección Trabajos */
.textoTrabajo {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26282B;
    font-weight: bold;
}

.textoTrabajo {
    font-size: 20px;
}

/* Sección Contacto */
.textoContacto {
    position: relative;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #26282B;
    font-weight: bold;
}

.textoContacto {
    font-size: 20px;
}

/* Efectos */
.efecto1 {
    overflow: hidden;
    transition: 0.5s;
}

.efecto1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}